@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000ff;
  --dodger-blue: #1098f7ff;
  --white: #ffffffff;
  --rosy-brown: #b89e97ff;
  --pale-dogwood: #deccccff;
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: var(--dodger-blue);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--black);
  width: 100%;
  /* max-width: 1368px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DynaPuff", system-ui;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
